{% extends 'finance/wrapper.html' %}
{% block content %}

<header>
	<ul class="nav">
		<li><a href="{% url 'index' %}">Back to index</a></li>
		<li><a href="{% url 'add_charge' %}">Add new charge</a></li>
	<ul>
	{% if info %}
		{{ info }}
	{% endif %}
</header>
<table class="charges_list income table table-striped table-bordered table-hover table-responsive table-sm">
	<thead>
	<tr class="bg-success">
        <th colspan="3" align="center">
            Income
        </th>
    </tr>
    <tr>
        <th>
            Title
        </th>
        <th>
            Amount
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    {% for charge in positive_datecharges %}
    <tr>
    	<td>
       	    <!--{{ charge.title }}-->-
       	</td>
       	{% for param in charge %}
       	<td>
       	    {{ param }}
        </td>
        {% endfor %}
       	<!--
        <td>
       	    {{ charge.amount }}
        </td>
        <td>
       	    {{ charge.date }}
        </td>--><!-- charge.amount, charge.date -->
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="charges_list outcome table table-striped table-bordered table-hover table-responsive table-sm">
	<thead>
	<tr class="bg-danger">
        <th colspan="3" align="center">
            Outcome
        </th>
    </tr>
    <tr>
        <th>
            Title
        </th>
        <th>
            Amount
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    {% for charge in negative_datecharges %}
    <tr>
    	<td>
       	    <!--{{ charge.title }} - unavailable for this generator -->-
       	</td>
        {% for param in charge %}
       	<td>
       	    {{ param }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}